BasedOnStyle: Google
UseTab: Never
IndentWidth: 4
TabWidth: 4
# BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
BreakStringLiterals: true
IndentPPDirectives: AfterHash
IndentCaseLabels: false
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false
